<!--
  Recuerde conservar los id, no deben ser modificados
  ids = user-list__filter, user-list__table, user-list__table-item-[index], user-list__table-item-[index]-avatar, user-list__table-item-[index]-first_name, user-list__table-item-[index]-email, user-list__table-item-[index]-btn-delete
  Remplazar [index] por el valor ejemplo "user-list__table-item-0"
-->

<div class="container">

    <div class="row">
      <h1>Users list</h1>
    </div>

    <div class="row">
      <div class="container">
        <form #myForm="ngForm" 
            autocomplete="off"
            class="row"
            >
            <mat-form-field class="example-full-width" 
                            appearance="fill">
                            <mat-label>Searcher</mat-label>
                            <input type="text" 
                                  name="searcher" 
                                  minlength="3" 
                                  required 
                                  [(ngModel)]="inputValue" 
                                  matInput placeholder="Search a user">
            </mat-form-field>
        </form>
      </div>
    </div>

    <div class="row">
      <table  mat-table [dataSource]="dataSource | filterUserByName: mainDataSource: inputValue: isInvalid()" 
              class="mat-elevation-z8">
         <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Avatar Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell 
                    *matHeaderCellDef> Id </th>
                <td mat-cell 
                    *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
            
              <!-- Avatar Column -->
              <ng-container matColumnDef="avatar">
                <th mat-header-cell 
                    *matHeaderCellDef> Avatar </th>
                <td mat-cell 
                    *matCellDef="let element">
                  <img [src]="element.avatar" 
                      alt="avatar">
                </td>
              </ng-container>
              <!-- FirstName Column -->
              <ng-container matColumnDef="first_name">
                <th mat-header-cell 
                    *matHeaderCellDef> Name </th>
                <td mat-cell 
                    *matCellDef="let element"> {{element.first_name}} </td>
              </ng-container>
            
              <!-- LastName Column -->
              <ng-container matColumnDef="last_name">
                <th mat-header-cell 
                    *matHeaderCellDef> LastName </th>
                <td mat-cell 
                    *matCellDef="let element"> {{element.last_name}} </td>
              </ng-container>
            
              <!-- Email Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell 
                    *matHeaderCellDef> Email </th>
                <td mat-cell 
                    *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
            
              <!-- Options Column -->
              <ng-container matColumnDef="options">
                <th mat-header-cell 
                    *matHeaderCellDef> Options </th>
                <td mat-cell 
                    *matCellDef="let element">
                  <div class="example-button-row">
                    <button (click)="deleteUserForIndex( element.id )" mat-raised-button color="warn">Delete</button>
                  </div>
                </td>
              </ng-container>
            
              <tr mat-header-row 
                  *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row 
                  *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

  
</div>





  


