/* You can add global styles to this file, and also import other style files */
@import "node_modules/h8k-design/lib/index.scss";

:root {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
}

.row-height {
    min-height: 100%;
}

.verticalSpace {
    margin-bottom: 5rem;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";